{% extends 'base.html' %}

{%load static%}

{% block content %}
   <!-- Contact Start -->


   <div class="container-fluid" style="max-width: 700px;">
    <h2 class="text-center">Forgot Password</h2>
    <div class="row px-xl-5">
        <div class="col-lg-12 mb-12">
            <div class="contact-form bg-light p-30">
                <div id="success">
                    {%include 'include/alerts.html' %}
                </div>
                <form action="{% url 'forgotPassword' %}" method="POST"\>
                    {% csrf_token %}
                    <div class="control-group">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name ="email" placeholder="Email address"
                            required="required" data-validation-required-message="Please enter your email address" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <a href=" {% url 'login'%} " class="float-right">Got password? Log in</a>
                    </div>

                    <div class="control-group">
                        <button class=" btn btn-primary py-2 px-4 btn-block" type="submit" id="sendMessageButton">Get password</button>
                    </div>
                </form>
                <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}" style="color:lightblue">Sign up</a></p>
                <br><br>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock content %}