{% extends 'base.html' %}

{%load static%}

{% block content %}
   <!-- Contact Start -->

   {% if request.GET.command == 'verification' %}

   <div class="container mx-auto alert alert-info text-center" role="alert" style= "max-width : 570px; margin-top: 70px;">
       Thank you for registering with us. We have sent you a verification email to your email address [{{request.GET.email}}]. Please verify it.
       <br><br>
       Already verified? <a href="{% url 'login' %}">Login</a> 
   </div>
   {%else%}

   <div class="container-fluid" style="max-width: 700px;">
    <h2 class="text-center">Login</h2>
    <div class="row px-xl-5">
        <div class="col-lg-12 mb-12">
            <div class="contact-form bg-light p-30">
                <div id="success">
                    {%include 'include/alerts.html' %}
                </div>
                <form action="{% url 'login' %}" method="POST"\>
                    {% csrf_token %}
                    <div class="control-group">
                        <label for="exampleInputEmail1" class="form-label">User name</label>
                        <input type="text" class="form-control" id="name" name ="username" placeholder="User Name"
                            required="required" data-validation-required-message="Please enter your name" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <label  class="form-label">Password</label>
                        <input type="Password" class="form-control" id="subject" name="password" placeholder="Password"Ư
                            required="required" data-validation-required-message="Please enter a subject" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group" style="margin-bottom: 20px;">
                        <a href="{% url 'forgotPassword' %}" class="float-right" style="color:lightblue" >Forgot password?</a>
                        <br>
                    </div>  
                    <div class="control-group">
                        <button class=" btn btn-primary py-2 px-4 btn-block" type="submit" id="sendMessageButton">Login</button>
                    </div>
                </form>
                <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}" style="color:lightblue">Sign up</a></p>
                <br><br>
            </div>
        </div>
    </div>
</div>
{%endif%}
<!-- Contact End -->

{% endblock content %}