{% extends 'base.html' %}

{%load static%}

{% block content %}
   <!-- Contact Start -->
   <div class="container-fluid" style="max-width: 700px;">
    <h2 class="text-center">Login</h2>
    <div class="row px-xl-5">
        <div class="col-lg-12 mb-12">
            <div class="contact-form bg-light p-30">
                <div id="success">
                    {%include 'include/alerts.html' %}
                </div>
                <form action="{% url 'register' %}" method="POST"\>
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col form-group">
                            <label>User name</label>
                            {{form.username}}
                           {{form.username.errors}}
                        </div> <!-- form-group end.// -->
                    </div>
                    <div class="form-row">
                        <div class="col form-group ">
                            <label>Email Address</label>
                            {{form.email}}
                            {{form.email.errors}}
                            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row.// -->
                    <div class="form-row">
                        <div class="col form-group ">
                            <label>Create password</label>
                           {{form.password}}    
                        </div> <!-- form-group end.// -->
                    </div>
                    <div class="form-row">
                        <div class="col form-group ">
                            <label>Repeat password</label>
                            {{form.confirm_password}}
                            {{form.non_field_errors}} 
                        </div> <!-- form-group end.// -->
                    </div>
                </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Register </button>
                    </div> <!-- form-group// -->
                </form> 
                <p class="text-center mt-4">You have account? <a href="{% url 'login' %}" style="color:lightblue">Sign up</a></p>
                <br><br>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock content %}