{% extends 'base.html' %}

{%load static%}

{% block content %}
   <!-- Contact Start -->


   <div class="container-fluid" style="max-width: 700px;">
    <h2 class="text-center">Forgot Password</h2>
    <div class="row px-xl-5">
        <div class="col-lg-12 mb-12">
            <div class="contact-form bg-light p-30">
                <div id="success">
                    {%include 'include/alerts.html' %}
                </div>
                <form action="{% url 'resetPassword' %}" method="POST">
                    {% csrf_token %}
                    <div class="control-group">
                        <label for="password" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="password" name ="password" placeholder="Password"
                            required="required" data-validation-required-message="Please enter your p" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <label for="confirm_password" class="form-label">Confirm new password</label>
                        <input type="password" class="form-control" id="confirm_password" name ="confirm_password" placeholder="Confirm new password"
                            required="required" data-validation-required-message="Please enter your email address" />
                        <p class="help-block text-danger"></p>
                    </div>
                    

                    <div class="control-group">
                        <button class=" btn btn-primary py-2 px-4 btn-block" type="submit" id="sendMessageButton">Reset</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock content %}