{% load static %}
{% if messages %}
    {% for message in messages %}
    <div id="alert-messages" class='container'> 
        <div {% if message.tags %} class="alert alert-{{ message.tags }}  "{% endif %} role="alert">
            <button type="button" class="close" data-dismiss="alert" {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} style="color:red" {%endif%}>
                <span aria-hidden="true">&times;</span>
            </button>
            <p  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} style="color:red" {% endif %}  >
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}ERROR: {% endif %}
            {{ message }}
            </p>
        </div>
    </div>
    {% endfor %}
{% endif %}