
<!--   SIDEBAR   -->
<ul class="list-group" >
    <a href="{% url 'dashboard'%}" class="btn btn-light btn-block text-{%if '/user/' == request.path %}primary{%endif%}" style="text-align:left;">
        <i class="fas fa-user"></i> 
        <span class="text">Accounts</span> 
    </a>
    <a href="{% url 'change_address'%}" class="btn btn-light btn-block text-{%if '/change_address/' in request.path %}primary{%endif%}" style="text-align:left;">
        <i class="fas fa-map-marker "></i>
        <span class="text">Change Address</span> 
    </a>
    <a href="{% url 'my_orders'%}" class="btn btn-light btn-block text-{%if '/my_orders/' in request.path %}primary{%endif%}" style="text-align:left;">
        <i class="fas fa-shopping-cart"></i> 
        <span class="text">My order</span> 
    </a>
    <a href="{% url 'store'%}" class="btn btn-light btn-block" style="text-align:left;">
        <i class="fa fa-lock"></i>
        <span class="text">Change Password</span> 
    </a>
</ul>
<br>
<div class="text-center">
    <a href="{% url 'logout'%}" class="btn btn-danger btn-block"><i class="fa fa-power-off"></i> <span class="text">Logout</span> </a>
</div> 


<!--   SIDEBAR .//END   -->
