{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Cart Start -->
    
    
    <div class="container-fluid">
        <div class ="row col-md-12">
            {% include 'include/alerts.html' %} 
        </div>
        
        {% if cart_count > 0 %}
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for cart_item in cart_items %}
                        <tr>
                            <td class="align-middle">
                                <a class="text-dark" href="{{cart_item.product.get_url}}"><img src="{{cart_item.product.imageURL}}" alt="" style="width: 50px;">  
                                {{cart_item.product.name}}</a>
                                <p class="text-muted small" id= "variation">
                                    {{cart_item.variations}}
                                </p>
                            </td>

                            <td class="align-middle">${{cart_item.product.price}}</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <a href = {% url 'decrease_cart' cart_item.id %} class="btn btn-sm btn-primary btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="{{cart_item.quantity}}" name ="quantity">
                                    <div class="input-group-btn">
                                        <a href = {% url 'increase_cart' cart_item.id %} class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">${{cart_item.sub_total}}</td>
                            <td class="align-middle"><a href="{% url 'delete_cart' cart_item.id %}" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-30" action="">
                    <div class="input-group">
                        <input type="text" class="form-control border-0 p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>${{total}}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">${{tax}}</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>${{total_all}}</h5>
                        </div>
                        <a href="{% url 'checkout' %}" class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To Checkout</a>
                    </div>
                </div>
            </div>
        </div>
        {%else%}
        <div class="text-center" style="height:300px;">
           <h2 class="text-center">Your shopping cart is empty</h2>
			<br />
			<div class="text-center">
				<a href="{% url 'store'%}" class="btn btn-primary">Continue Shopping</a>
			</div> 
        </div>
        {%endif%}
    </div>
    <!-- Cart End -->

{% endblock content %}