{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!-- Checkout Start -->
 <div class="container-fluid">
    {%if cart_count > 0%}
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
            <form action="{% url 'place_order'%}" method="post">
                {% csrf_token %}
            <div class="bg-light p-30 mb-5">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Name</label>
                        <input class="form-control" type="text" placeholder="John" name = "name" value= {{user.username}} required>
                    </div>
                    
                    <div class="col-md-6 form-group">
                        <label>E-mail</label>
                        <input class="form-control" type="email" placeholder="example@email.com" name="email" value= {{user.email}} >
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Mobile No</label>
                        <input class="form-control" type="text" placeholder="+123 456 789" name="phone" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Country</label>
                        <select class="custom-select" name="country">
                            <option selected>VietNam</option>
                            <option>United States</option>
                            <option>China</option>
                            <option>Thailand</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>City</label>
                        <input class="form-control" type="text" placeholder="New York" name="city" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>District</label>
                        <input class="form-control" type="text" placeholder="New York" name="district" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>State</label>
                        <input class="form-control" type="text" placeholder="New York" name="state" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Address </label>
                        <input class="form-control" type="text" placeholder="123 Street" name="address" required>
                    </div>
                    <div class="col-md-12 form-group">
                        <label>Order Note </label>
                        <textarea name="order_note" class="form-control" cols="30" rows="2"></textarea>
                    </div>

                    <div class="col-md-12 form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="newaccount">
                            <label class="custom-control-label" for="newaccount">Create an account</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="shipto">
                            <label class="custom-control-label" for="shipto"  data-toggle="collapse" data-target="#shipping-address">Ship to different address</label>
                        </div>
                    </div>

                    
                </div>
            </div>
            <div class="collapse mb-5" id="shipping-address">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Shipping Address</span></h5>
                <div class="bg-light p-30">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Name</label>
                            <input class="form-control" type="text" placeholder="John" name = "name_1">
                        </div>
                        
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" placeholder="example@email.com" name="email_1">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" placeholder="+123 456 789" name="phone_1">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select class="custom-select" name="country_1">
                                <option selected>United States</option>
                                <option>Afghanistan</option>
                                <option>Albania</option>
                                <option>Algeria</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" type="text" placeholder="New York" name="city_1">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>District</label>
                            <input class="form-control" type="text" placeholder="New York" name="district_1">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input class="form-control" type="text" placeholder="New York" name="state_1">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address </label>
                            <input class="form-control" type="text" placeholder="123 Street" name="address_1">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <table class="table ">
                        <tr>
                            <th>Products</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                        {%for cart_item in cart_items%}
                        <tr>
                            <td>{{cart_item.product.name}}</td>
                            <td>x{{cart_item.quantity}}</td>
                            <td>${{cart_item.product.price}}</td>
                            <td>${{cart_item.sub_total}}</td>
                        </tr>
                        {%endfor%}
                    </table>    
                </div>
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>${{total}}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">${{ship}}</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>${{grand_total}}</h5>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                <div class="bg-light p-30">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="paypal" value="paypal">
                            <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="delivery" value ="delivery">
                            <label class="custom-control-label" for="delivery">Payment on delivery</label>
                        </div>
                    </div>
                    
                    <a href="{% url 'store'%}" class="btn btn-block btn-dark font-weight-bold py-3">Continue Shopping</a>
                    <input type="submit" class="btn btn-block btn-primary font-weight-bold py-3" id ="checkout_payment" value = "Place order"/>
                </form>
                </div>
            </div>
        </div>
    </div>
    {%else%}
    <div class="text-center" style="height:300px;">
        <h2 class="text-center">Your shopping cart is empty</h2>
         <br />
         <div class="text-center">
             <a href="{% url 'store'%}" class="btn btn-primary">Continue Shopping</a>
         </div> 
     </div>
     {%endif%}
</div>
<!-- Checkout End -->


{% endblock content %}