{%extends 'base.html'%}
{% load static %}
{% block content %}

    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <form action="{% url 'add_cart' single_product.productId %}" method = "POST">
                {% csrf_token %}
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        <div class="carousel-item active">
                            <img  height="600" width="100%" src="{{single_product.imageURL}}" alt="Image">
                        </div>
                        {% for product_image in product_gallery %}
                        <div class="carousel-item">
                            <img   height="600" width="100%" src="{{product_image.image.url}}" alt="Image">
                        </div>
                        {%endfor%}
                        
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3>{{single_product.name}}</h3>
                    <div class="d-flex mb-3">
                        <div class="text-primary mr-2 rating-star">
                            <span>
                                <i class="fa fa-star{%if single_product.averangeReview < 0.5 %}-o{%elif single_product.averangeReview >= 0.5 and single_product.averangeReview < 1 %}-half-o{%endif%}" aria-hidden="true"></i>
                                <i class="fa fa-star{%if single_product.averangeReview < 1.5 %}-o{%elif single_product.averangeReview >= 1.5 and single_product.averangeReview < 2 %}-half-o{%endif%}" aria-hidden="true"></i>
                                <i class="fa fa-star{%if single_product.averangeReview < 2.5 %}-o{%elif single_product.averangeReview >= 2.5 and single_product.averangeReview < 3 %}-half-o{%endif%}" aria-hidden="true"></i>
                                <i class="fa fa-star{%if single_product.averangeReview < 3.5 %}-o{%elif single_product.averangeReview >= 3.5 and single_product.averangeReview < 4 %}-half-o{%endif%}" aria-hidden="true"></i>
                                <i class="fa fa-star{%if single_product.averangeReview < 4.5 %}-o{%elif single_product.averangeReview >= 4.5 and single_product.averangeReview < 5 %}-half-o{%endif%}" aria-hidden="true"></i>
                            </span>
                        </div>
                        <small class="pt-1">({{single_product.countReview}} Reviews)</small>
                    </div>
                    <h3 class="font-weight-semi-bold mb-4">${{single_product.price}}</h3>
                    <p class="mb-4"> {{single_product.description}} </p>
                    <div class="d-flex mb-3">
                        <strong class="text-dark mr-3">Sizes:</strong>
                            {% for size in dict_variations.size %}
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-{{size}}" name="size" value = "{{size}}" checked>
                                <label class="custom-control-label" for="size-{{size}}">{{size  | upper }}</label>
                            </div>
                            {% endfor %}
                    </div>
                    <div class="d-flex mb-4">
                        <strong class="text-dark mr-3">Colors:</strong>
                            {% for color in dict_variations.color %}
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="color-{{color}}" name="color" value="{{color}}" checked>
                                <label class="custom-control-label" for="color-{{color}}">{{color | capfirst}}</label>
                            </div>
                            {% endfor %}
                    </div>
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-minus">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control bg-secondary border-0 text-center" value="1" name = "quantity">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-plus">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add ToCart</button>
                    </div>
                </form>
                    <div class="d-flex pt-2">
                        <strong class="text-dark mr-2">Share on:</strong>
                        <div class="d-inline-flex">
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-pinterest"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Description</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Information</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Reviews ({{single_product.countReview}})</a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">Product Description</h4>
                            <p>{{single_product.description}}</p>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <h4 class="mb-3">Additional Information</h4>
                            <p>Eos no lorem eirmod diam diam, eos elitr et gubergren diam sea. Consetetur vero aliquyam invidunt duo dolores et duo sit. Vero diam ea vero et dolore rebum, dolor rebum eirmod consetetur invidunt sed sed et, lorem duo et eos elitr, sadipscing kasd ipsum rebum diam. Dolore diam stet rebum sed tempor kasd eirmod. Takimata kasd ipsum accusam sadipscing, eos dolores sit no ut diam consetetur duo justo est, sit sanctus diam tempor aliquyam eirmod nonumy rebum dolor accusam, ipsum kasd eos consetetur at sit rebum, diam kasd invidunt tempor lorem, ipsum lorem elitr sanctus eirmod takimata dolor ea invidunt.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item px-0">
                                            Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Duo amet accusam eirmod nonumy stet et et stet eirmod.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                                        </li>
                                      </ul> 
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item px-0">
                                            Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Duo amet accusam eirmod nonumy stet et et stet eirmod.
                                        </li>
                                        <li class="list-group-item px-0">
                                            Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                                        </li>
                                      </ul> 
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="mb-4">{{single_product.countReview}} review for {{single_product.name}}</h4>
                                    {%for review in reviews %}
                                    <div class="media mb-4">
                                        <img src="{% static 'img/user.jpg'%}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;height:45px;border-radius:50%;">
                                        <div class="media-body">
                                            <h6>{{review.user.username}}<small> - <i>{{review.updated_at}}</i></small></h6>
                                                <div class="rating-star text-primary mb-2">
                                                    <span>
                                                        <i class="fa fa-star{%if review.rating == 0.5 %}-half-o{%elif review.rating < 1 %}-o{%endif%}" aria-hidden="true"></i>
                                                        <i class="fa fa-star{%if review.rating == 1.5 %}-half-o{%elif review.rating < 2 %}-o{%endif%}" aria-hidden="true"></i>
                                                        <i class="fa fa-star{%if review.rating == 2.5 %}-half-o{%elif review.rating < 3 %}-o{%endif%}" aria-hidden="true"></i>
                                                        <i class="fa fa-star{%if review.rating == 3.5 %}-half-o{%elif review.rating < 4 %}-o{%endif%}" aria-hidden="true"></i>
                                                        <i class="fa fa-star{%if review.rating == 4.5 %}-half-o{%elif review.rating < 5 %}-o{%endif%}" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            <p>{{review.review}}</p>
                                        </div>    
                                    </div>
                                    {%endfor%}
                                </div>
                                <div class="col-md-6">
                                    <h4 class="mb-4">Write Your Review</h4>
                                    <small>How do you rate this product? *</small>
                                    <div class="d-flex my-3">
                                        <p class="mb-0 mr-2 text-rate">Your Rating * :</p>
                                        <form action="{% url 'submit_review' single_product.productId %}" method="POST">
                                        {% csrf_token %}
                                        <div class="rate">
                                            <input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
                                            <input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
                                            <input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
                                            <input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
                                            <input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
                                            <input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
                                            <input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
                                            <input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
                                            <input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
                                            <input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half" id="label-rating1"></label>
                                        </div>

                                    </div>
                                    
                                        <div class="form-group">
                                            <label for="message">Your Review *</label>
                                            <textarea id="message" cols="30" rows="5" class="form-control" name="review"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Your Name *</label>
                                            <input type="text" class="form-control" id="name" value="{{request.user.username}}" disabled>
                                        </div>
                                        <div class="form-group mb-0">
                                            {% if user.is_authenticated %}
                                            {% if order_product %}
                                                <input type="submit" value="Submit Your Review" class="btn btn-primary px-3">
                                            {%else%}
                                                <p>You must purchase this product to post review.</p>
                                            {%endif%}
                                        {%else%}
                                            <p>You must be logged in to post a review. <span><a href="{% url 'login' %}">Login Now </a></span></p>
                                        {%endif%}
                                        </div>
                                        {% include 'include/alerts.html' %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->

    <!-- Products Start -->
    <div class="container-fluid py-5">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">You May Also Like</span></h2>
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel related-carousel">
                    {% for product in products %}
                    <div class="product-item bg-light">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{{product.imageURL}}" alt="">
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href="">{{product.name}}</a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5>${{product.price}}</h5><h6 class="text-muted ml-2"><del>${{product.price}}</del></h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small>(99)</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Products End -->


{% endblock content %}