{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{%url 'homepage' %}">Home</a>
                <a class="breadcrumb-item text-dark" href="{% url 'store' %}">Shop</a>
                <span class="breadcrumb-item active">Shop List</span>
            </nav>
        </div>
    </div>
</div>
{%if search%}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                {%if product_count > 0 %}
                    <span>Found {{product_count}} products</span>
                {%else%}
                    <span>No Found Item </span>
                {%endif%}
            </nav>
        </div>
    </div>
</div>
{%endif%}
<!-- Breadcrumb End -->
<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <!-- Price Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span></h5>
            <div class="bg-light p-4 mb-30">
                <form action="{% url 'store' %}" method ="POST">
                    {% csrf_token %}
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" checked id="price-all" name ="price_all">
                        <label class="custom-control-label" for="price-all">All Price</label>
                        <span class="badge border font-weight-normal">{{product_count}}</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-1" name ="price_1">
                        <label class="custom-control-label" for="price-1">$0 - $100</label>
                        <span class="badge border font-weight-normal">{{product_count_price.0_1}}</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-2" name ="price_2">
                        <label class="custom-control-label" for="price-2">$100 - $200</label>
                        <span class="badge border font-weight-normal">{{product_count_price.1_2}}</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-3" name ="price_3">
                        <label class="custom-control-label" for="price-3">$200 - $300</label>
                        <span class="badge border font-weight-normal">{{product_count_price.2_3}}</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-4" name ="price_4">
                        <label class="custom-control-label" for="price-4">$300 - $400</label>
                        <span class="badge border font-weight-normal">{{product_count_price.3_4}}</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" id="price-5" name ="price_5">
                        <label class="custom-control-label" for="price-5">$400 - ...</label>
                        <span class="badge border font-weight-normal">{{product_count_price.4_5}}</span>
                    </div>
                    </br>

                    <div class="form-submit">
                        <button type="submit" class ="btn btn-primary" style="width:100%; border-radius:5px" name = "filter_price">Filter</button>
                    </div>
                    
                </form>
            </div>
            <!-- Price End -->
            
            <!-- Color Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by color</span></h5>
            <div class="bg-light p-4 mb-30">
                <form action="{% url 'store' %}" method ="POST">
                    {% csrf_token %}
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" checked id="color-all" name="color_all">
                        <label class="custom-control-label" for="color-all">All Color</label>
                        <span class="badge border font-weight-normal">{{product_count}}</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="color-black" name="color_black">
                        <label class="custom-control-label" for="color-black">Black</label>
                        <span class="badge border font-weight-normal">{{product_count_color.black}}</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="color-white" name="color_white">
                        <label class="custom-control-label" for="color-white">White</label>
                        <span class="badge border font-weight-normal">{{product_count_color.white}}</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="color-red" name="color_red">
                        <label class="custom-control-label" for="color-red">Red</label>
                        <span class="badge border font-weight-normal">{{product_count_color.red}}</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="color-blue" name="color_blue">
                        <label class="custom-control-label" for="color-blue">Blue</label>
                        <span class="badge border font-weight-normal">{{product_count_color.blue}}</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" id="color-yellow" name="color_yellow">
                        <label class="custom-control-label" for="color-yellow">Yellow</label>
                        <span class="badge border font-weight-normal">{{product_count_color.yellow}}</span>
                    </div>

                    </br>
                    <div class="form-submit">
                        <button type="submit" class ="btn btn-primary" style="width:100%; border-radius:5px" name = "filter_color">Filter</button>
                    </div>
                </form>
            </div>
            <!-- Color End -->

            <!-- Size Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by size</span></h5>
            <div class="bg-light p-4 mb-30">
                <form action="{% url 'store'%}" method = "POST">
                    {% csrf_token %}
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" checked id="size-all" name="size_all">
                        <label class="custom-control-label" for="size-all">All Size</label>
                        <span class="badge border font-weight-normal">{{product_count}}</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="size-1" name="size_xs">
                        <label class="custom-control-label" for="size-1">XS</label>
                        <span class="badge border font-weight-normal">{{product_count_size.xs}}</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="size-2" name="size_s">
                        <label class="custom-control-label" for="size-2">S</label>
                        <span class="badge border font-weight-normal">{{product_count_size.s}}</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="size-3" name="size_m">
                        <label class="custom-control-label" for="size-3">M</label>
                        <span class="badge border font-weight-normal">{{product_count_size.m}}</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="size-4" name="size_l">
                        <label class="custom-control-label" for="size-4">L</label>
                        <span class="badge border font-weight-normal">{{product_count_size.l}}</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" id="size-5" name="size_xl">
                        <label class="custom-control-label" for="size-5">XL</label>
                        <span class="badge border font-weight-normal">{{product_count_size.xl}}</span>
                    </div>

                </br>
                <div class="form-submit">
                    <button type="submit" class ="btn btn-primary" style="width:100%; border-radius:5px" name = "filter_size">Filter</button>
                </div>
                </form>
            </div>
            <!-- Size End -->
        </div>
        <!-- Shop Sidebar End -->


        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div>
                            <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                            <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                        </div>
                        <div class="ml-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Latest</a>
                                    <a class="dropdown-item" href="#">Popularity</a>
                                    <a class="dropdown-item" href="#">Best Rating</a>
                                </div>
                            </div>
                            <div class="btn-group ml-2">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">10</a>
                                    <a class="dropdown-item" href="#">20</a>
                                    <a class="dropdown-item" href="#">30</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for product in products %}
                <div class="col-lg-4 col-md-6 col-sm-6 pb-1" >
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden" >
                            <img class="img-fluid w-100" src="{{product.imageURL}}" alt="" style=" height: 250px;">
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href="{{product.get_url}}">{{product.name}}</a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5>${{product.price}}</h5><h6 class="text-muted ml-2"><del>${{product.price}}</del></h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small>(99)</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
              
                <div class="col-12">
                    <nav>
                      <ul class="pagination justify-content-center">
                        {% if products.has_previous %}
							<li class="page-item">
								<a class="page-link" href="?page=1">&#60;&#60;</a>
							</li>
							<li class="page-item ">
								<a class="page-link" href="?page={{products.previous_page_number}}">&#60;</a>
							</li>
						{% else %}
							<li class="page-item disabled">
								<a class="page-link" href="#">&#60;&#60;</a>
							</li>
							<li class="page-item disabled">
								<a class="page-link" href="#">&#60;</a>
							</li>
						{%endif%}	
						
						{% for i in products.paginator.page_range %}
							{% if products.number == i %}
								<li class="page-item active">
									<a class="page-link" href="">{{i}}</a>
								</li>
							{% else %}
								<li class="page-item ">
									<a class="page-link" href="?page={{i}}">{{i}}</a>
								</li>
							{% endif %}	
						{% endfor %}
						<li class="page-item">
							<a class="page-link" href="">&hellip;</a>
						</li>
						{% if products.has_next %}
							<li class="page-item">
								<a class="page-link"  href="?page={{products.next_page_number}}">&#62;</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="?page={{products.paginator.num_pages}}">&#62;&#62;</a>
							</li>
						{%else%}
							<li class="page-item disabled">
								<a class="page-link" href="#">&#62;</a>
							</li>
							<li class="page-item disabled">
								<a class="page-link" href="#">&#62;&#62;</a>
							</li>
						{% endif %}
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->
 {% endblock %} 