{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!-- Checkout Start -->
 <div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-12">
            <center><i class="fas fa-check-circle" style="font-size: 72px;margin-bottom: 20px;color: #28A745;"></i></center>
            <center><h5>Order Successful! Thank you for shopping with us! </h5></center>
            <center><a href="{%url 'store'%}" class="btn btn-primary">Continuted Shopping</a></center>
            </br>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <table class="table ">
                        <tr>
                            <th>Products</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                        {%for order_product in order_products %}
                        <tr>
                            <td style="padding-right: 60px;">{{order_product.product.name}}
                                <span style="float: right;">{{order_product.variations}}</span>
                            </td>
                            <td>x{{order_product.quantity}}</td>
                            <td>${{order_product.product.price}}</td>
                            <td>${{order_product.total_singer_product}}</td>
                        </tr>
                        {%endfor%}
                    </table>    
                </div>
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>${{total}}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">${{ship}}</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>${{grand_total}}</h5>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<!-- Checkout End -->


{% endblock content %}