{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!-- Checkout Start -->
 <div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-12">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="row" >
                    <p> <span style="font-weight: bold;">{{order.name | upper}} (Phone) {{order.phone}}</span> &emsp;&emsp; {{order.full_address}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Products</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="row" >
                    <table class="table ">
                        <tr>
                            <th>Products</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th style="text-align:right;">Total</th>
                        </tr>
                        {%for cart_item in cart_items%}
                        <tr>
                            <td style="padding-right:30px">
                                <img src="{{cart_item.product.image.url}}" alt="" width=50>
                                {{cart_item.product.name}} &emsp;
                                <span style="float:right;">{{cart_item.variations}}</span>
                            </td>
                            <td>x{{cart_item.quantity}}</td>
                            <td>${{cart_item.product.price}}</td>
                            <td style="text-align:right;">${{cart_item.sub_total}}</td>
                        </tr>
                        {%endfor%}
                    </table> 
                </div>
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>${{total}}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">${{ship}}</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>${{grand_total}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Make Payment</span></h5>
            <div class="bg-light p-30 mb-5">
                {%if payment == 'paypalt'%}
                <span>Payment by Paypal</span>
                {%else%}
                Payment on delivety
                {%endif%}
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>${{total}}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">${{ship}}</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>${{grand_total}}</h5>
                    </div>
                </div>
                {%if payment == 'paypal'%}
                <div  style="width: 700px;margin:0 auto">
                    <div id="paypal-button-container">		
                    </div>
                </div>
                    
                {%else%}
                <div  style="width: 700px;margin:0 auto">
                    <input type="submit" class="btn btn-block btn-primary font-weight-bold py-3" id ="checkout_delivety" value = "Payment on Delivery"/>
                </div>
                {%endif%}
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->




<script>
	function getCookie(name) {
		let cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			const cookies = document.cookie.split(';');
			for (let i = 0; i < cookies.length; i++) {
				const cookie = cookies[i].trim();
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
	

	
	var amount = "{{grand_total}}"
	var url = "{% url 'payments' %}"
	var csrftoken = getCookie('csrftoken');
	var orderID = "{{order.order_number}}"
	var payment_method = 'PayPal'
	var redirect_url = "{% url 'order_complete' %}"
	

	paypal.Buttons({
		// Style for button
		style: {
			color:  'blue',
			shape:  'rect',
			label:  'pay',
			height: 40,
		},


	  // Sets up the transaction when a payment button is clicked
	  createOrder: (data, actions) => {
		return actions.order.create({
		  purchase_units: [{
			amount: {
			  value: amount // Can also reference a variable or function
			}
		  }]
		});
	  },
	  // Finalize the transaction after payer approval
	  onApprove: (data, actions) => {
		return actions.order.capture().then(function(orderData) {
			console.log(orderData)
			sendData()
		  	// Successful capture! For dev/demo purposes:
			function sendData(){
				fetch(url, {
					method : "POST",
					headers : {
						"Content-type" : "application/json",
						"X-CSRFToken" : csrftoken,
					},
					body : JSON.stringify({
						orderID : orderID,
						transID : orderData.id,
						payment_method : payment_method,
						status : orderData.status,
					}),
				})
				.then((response) => response.json())
				.then((data) => {
					window.location.href = redirect_url + '?order_number='+data.order_number+'&payment_id='+data.transID;
				});
			}
		});
	  }
	}).render('#paypal-button-container');
  </script>


<script>

    function getCookie(name) {
		let cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			const cookies = document.cookie.split(';');
			for (let i = 0; i < cookies.length; i++) {
				const cookie = cookies[i].trim();
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}

    function generate_string() {
        var d = new Date();
        var day = d.getDate()
        var month = d.getMonth()+1
        if (d.getDate()<10){
            day = '0'+d.getDate()
        }
    
        if (d.getMonth()<10){
            month = d.getMonth()+1+''
        }
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
    
      var tran = d.getFullYear()+possible.charAt(Math.floor(Math.random() * possible.length))+month+day+possible.charAt(Math.floor(Math.random() * possible.length))+d.getHours()+possible.charAt(Math.floor(Math.random() * possible.length))+d.getMinutes()+d.getSeconds()
      
      return tran;
    }

    var checkout_delivety = document.getElementById("checkout_delivety")
    var amount = "{{grand_total}}"
	var url = "{% url 'payments' %}"
	var csrftoken = getCookie('csrftoken');
	var orderID = "{{order.order_number}}"
	var payment_method = 'Delivery'
	var redirect_url = "{% url 'order_complete' %}"
    var transID = generate_string()


    checkout_delivety.addEventListener('click', function(){
        sendData()
    });

    function sendData(){
        fetch(url, {
            method : "POST",
            headers : {
                "Content-type" : "application/json",
                "X-CSRFToken" : csrftoken,
            },
            body : JSON.stringify({
                orderID : orderID,
                transID : transID,
                payment_method : payment_method,
                status : "Unpaid",
            }),
        })
        .then((response) => response.json())
        .then((data) => {
            window.location.href = redirect_url + '?order_number='+data.order_number+'&payment_id='+transID;
        });
    }
</script
{% endblock content %}

