{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Cart Start -->
    
    <div class="container-fluid">
        <div class ="row col-md-12">
            {% include 'include/alerts.html' %} 
        </div>
        
        <div class="row px-xl-5">
            <div class="col-lg-3 ">
                <div class="bg-light p-30 mb-5">
                    {% include 'include/dashboard_sidebar.html' %} 
                </div>
            </div>
            <div class="col-lg-9">
                <div class="bg-light p-30 mb-5">
                    <form action="{%url 'change_address' %}" method="post">
                        {% csrf_token %}
                        <div class="row"> 
                            <div class="col-md-6 form-group">
                                <label>Country</label>
                                <input class="form-control" type="text" placeholder="Viet Nam" name = "country" value="{{userprofile.country}}"  required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>City</label>
                                <input class="form-control" type="text" placeholder="Da Nang" name = "city" value="{{userprofile.city}}"  required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>District</label>
                                <input class="form-control" type="text" placeholder="Hai Chau" name = "district" value="{{userprofile.district}}"  required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>State</label>
                                <input class="form-control" type="text" placeholder="Thanh Binh" name = "state" value="{{userprofile.state}}"  required>
                            </div>
                            <div class="col-md-12 form-group">
                                <label>Address</label>
                                <input class="form-control" type="text" placeholder="54 Hai Ho" name = "address" value="{{userprofile.address}}"  required>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="submit" class="btn btn-primary" value = "Update"/>
                            </div>
                        </div>
                    </form>
                </div> 
            </div>
        </div>
    </div>

{% endblock content %}
