{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Cart Start -->
    
    
    <div class="container-fluid">
        <div class ="row col-md-12">
            {% include 'include/alerts.html' %} 
        </div>
        
        <div class="row px-xl-5">
            <div class="col-lg-3 ">
                <div class="bg-light p-30 mb-5">
                    {% include 'include/dashboard_sidebar.html' %} 
                </div>
            </div>
            <div class="col-lg-9">
                <div class="bg-light p-30 mb-5">
                    <div class="row"> 
                        <div class="col-md-7">
                            <h5>User Profile</h5>
                            <form action="{% url 'dashboard' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <label>Name</label>
                                            <input class="form-control" type="text" placeholder="John" name = "name" value="{{userprofile.name}}"  required>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label>E-mail</label>
                                            <input class="form-control" type="email" placeholder="example@email.com" name="email" value= "{{user.email}}" >
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label>Mobile No</label>
                                            <input class="form-control" type="text" placeholder="+123 456 789" name="phone" required value="{{userprofile.phone}}">
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label>Male/Female</label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="sex" id="male" value="1" {%if userprofile.sex == 1%}checked{% endif %} >
                                                <label class="custom-control-label" for="male">Male</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="sex" id="female" value ="0" {%if userprofile.sex == 0%}checked{% endif %}>
                                                <label class="custom-control-label" for="female">Female</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="sex" id="difference" value ="2" {%if userprofile.sex == 2%}checked{% endif %}>
                                                <label class="custom-control-label" for="difference">Difference</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label>Day of birth</label>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <select class="form-select form-select-lg mb-3 col-12" aria-label=".form-select-lg example" name ="day">
                                                {% for day in days%}
                                                <option value="{{day}}" {%if user_day_of_birth.2 == day%} selected {%endif%}>{{day}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <select class="form-select form-select-lg mb-3 col-12" aria-label=".form-select-lg example" name ="month">
                                                {% for month in months%}
                                                <option value="{{month}}" {%if user_day_of_birth.1 == month%} selected {%endif%}>thag {{month}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <select class="form-select form-select-lg mb-3 col-12" aria-label=".form-select-lg example" name= "year">
                                                {% for year in years%}
                                                <option value="{{year}}" {%if user_day_of_birth.0 == year%} selected {%endif%}>{{year}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-md-5">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <img src="{{ userprofile.profile_picture.url }}" id="image" alt="Profile Picture" srcset="" width="100" height="100" style="border-radius:50%;">
                                    </div>
                                </div>
                            <div class="col-md-12" style="margin-top:20px;">
                                <div class="col-md-12 d-flex justify-content-center">
                                    <label class="btn btn-primary " for="inputGroupFile01">Choose File</label>
                                    <input type="file" name ="picture_update" class="form-control" id="inputGroupFile01"  accept="image/jpg,image/jpeg,image/png" onchange="chooseFile(this)" style="display: none;" >
                                </div>
                                
                                <div class="col-md-12 text-center" >
                                    <div class="form-group"><span>File size: Up to 1mb</span></div>
                                    <div class="form-group"><span>File format: PNG,JPG,JPEG</span></div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="submit" class="btn btn-primary" value = "Update"/>
                        </div>
                    </form>
                    </div>
                </div> 
            </div>
    
        </div>

    </div>
    <!-- Cart End -->

<script type="text/javascript">
    function chooseFile(fileInput){
        if(fileInput.files && fileInput.files[0]){
            var reader = new FileReader();
            reader.onload = function(e){
                $('#image').attr('src', e.target.result);

            }
            reader.readAsDataURL(fileInput.files[0]);
        }
    }

</script>
{% endblock content %}
