{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!-- Checkout Start -->
 <div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-3 ">
            <div class="bg-light p-30 mb-5">
                {% include 'include/dashboard_sidebar.html' %} 
            </div>
        </div>
        <div class="col-lg-9">
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6><a href="{% url 'my_orders'%}">Back</a></h6>
                        <h6>ID Order: {{order_number}} || delivered</h6>
                    </div>
                </div>
                <div class="border-bottom">
                    <table class="table table-light table-borderless table-hover text-center mb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            {% for order_product in order_products %}
                            <tr>
                                <td class="align-middle">
                                    <a class="text-dark" href="{{order_product.product.get_url}}"><img src="{{order_product.product.imageURL}}" alt="" style="width: 50px;">  
                                    {{order_product.product.name}}
                                    </br>
                                    <span class="text-muted small" id= "variation">
                                        {{order_product.variations}}
                                    </span>
                                    </a>
                                    
                                </td>
                                <td class="align-middle">${{order_product.product.price}}</td>
                                <td class="align-middle">{{order_product.quantity}}</td>
                                <td class="align-middle">${{order_product.total_singer_product}}</td>
                                
                            </tr>
                            {% endfor %}
    
                        </tbody>
                    </table>  
                </div>
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>${{total}}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">${{ship}}</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>${{grand_total}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->


{% endblock content %}