{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Cart Start -->
    
    
    <div class="container-fluid">
        <div class ="row col-md-12">
            {% include 'include/alerts.html' %} 
        </div>
        
        <div class="row px-xl-5">
            <div class="col-lg-3 ">
                <div class="bg-light p-30 mb-5">
                    {% include 'include/dashboard_sidebar.html' %} 
                </div>
            </div>
            <div class="col-lg-9">
                <div class="bg-light p-30 mb-5">
                    <h5>My order</h5>
                    <div class="row"> 
                      <table class="table table-light table-borderless table-hover text-center mb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Order number</th>
                                <th>Order Name</th>
                                <th>Phone</th>
                                <th>Order total</th>
                                <th>Order Time</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            {%for order in orders%}
                            <tr>
                                <td class="align-middle"><a href="{% url 'my_orders_detail' order.order_number%} ">{{order.order_number}}</a></td>
                                <td class="align-middle">{{order.name}}</td>
                                <td class="align-middle">{{order.phone}} </td>
                                <td class="align-middle">${{order.order_total}} </td>
                                <td class="align-middle">{{order.updated_at}} </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                      </table>
                    </div>
                </div> 
            </div>
        </div>
    </div>

{% endblock content %}
